<div id="header-frame">
    <header id="header" class="header-bg">
        <div class="header-holder">
            <h1 class="logo logo-bg">
                <a [routerLink]="['/Index']">Index</a>
            </h1>
            <div class="btn-wrapper">
                <div id="example" class="btn btn-primary"><a [routerLink]="['/TodoList']">TodoList</a></div>
                <div id="example" class="btn btn-primary"><a [routerLink]="['/Datafetch']">Datafetch</a></div>
            </div>
        </div>
    </header>
</div>