<div>
    <h1>Angular 2 Todo Example</h1>
    <p>This is test Angular 2 app, write by typescript and webpack build system</p>
    <hr />
    <h3>Install:</h3>
    <ul className="list-num">
        <li> - <span className="code">npm install</span> in main directory</li>
    </ul>
    <h3>Usage:</h3>
    <ul className="list-num">
        <li> - <span className="code">npm run w</span> run webpack dev server with watcher</li>
    </ul>
    <p>You can add your custom settings for webpack in <strong>config.js</strong></p>
</div>